<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halous.parentsbase.repository.OrupUserMapper">

  <resultMap id="BaseResultMap" type="com.halous.parentsbase.repository.domain.OrupUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="jobNo" jdbcType="VARCHAR" property="jobno" />
    <result column="SHOW_JOG_NO" jdbcType="VARCHAR" property="showJogNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="loginName" jdbcType="VARCHAR" property="loginname" />
    <result column="loginPWD" jdbcType="VARCHAR" property="loginpwd" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="registerDate" jdbcType="TIMESTAMP" property="registerdate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="mobilephone" jdbcType="VARCHAR" property="mobilephone" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="confirm_pwd" jdbcType="VARCHAR" property="confirmPwd" />
  </resultMap>
  <sql id="Base_Column_List">
    id, jobNo, SHOW_JOG_NO, name, loginName, loginPWD, state, registerDate, remark, mobilephone, 
    realName, type, confirm_pwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orup_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orup_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.halous.parentsbase.repository.domain.OrupUser">
    insert into orup_user (id, jobNo, SHOW_JOG_NO, 
      name, loginName, loginPWD, 
      state, registerDate, remark, 
      mobilephone, realName, type, 
      confirm_pwd)
    values (#{id,jdbcType=INTEGER}, #{jobno,jdbcType=VARCHAR}, #{showJogNo,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, #{loginpwd,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{registerdate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{mobilephone,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{confirmPwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.halous.parentsbase.repository.domain.OrupUser">
    insert into orup_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jobno != null">
        jobNo,
      </if>
      <if test="showJogNo != null">
        SHOW_JOG_NO,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="loginname != null">
        loginName,
      </if>
      <if test="loginpwd != null">
        loginPWD,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="registerdate != null">
        registerDate,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="mobilephone != null">
        mobilephone,
      </if>
      <if test="realname != null">
        realName,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="confirmPwd != null">
        confirm_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobno != null">
        #{jobno,jdbcType=VARCHAR},
      </if>
      <if test="showJogNo != null">
        #{showJogNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="loginpwd != null">
        #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="registerdate != null">
        #{registerdate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="confirmPwd != null">
        #{confirmPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.halous.parentsbase.repository.domain.OrupUser">
    update orup_user
    <set>
      <if test="jobno != null">
        jobNo = #{jobno,jdbcType=VARCHAR},
      </if>
      <if test="showJogNo != null">
        SHOW_JOG_NO = #{showJogNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        loginName = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="loginpwd != null">
        loginPWD = #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="registerdate != null">
        registerDate = #{registerdate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        mobilephone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="confirmPwd != null">
        confirm_pwd = #{confirmPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.halous.parentsbase.repository.domain.OrupUser">
    update orup_user
    set jobNo = #{jobno,jdbcType=VARCHAR},
      SHOW_JOG_NO = #{showJogNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      loginName = #{loginname,jdbcType=VARCHAR},
      loginPWD = #{loginpwd,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      registerDate = #{registerdate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      mobilephone = #{mobilephone,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      confirm_pwd = #{confirmPwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>