<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halous.parentsbase.repository.OrupUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.halous.parentsbase.repository.domain.OrupUserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userID" jdbcType="INTEGER" property="userid" />
    <result column="roleId" jdbcType="INTEGER" property="roleid" />
    <result column="sortId" jdbcType="INTEGER" property="sortid" />
    <result column="depart_id" jdbcType="INTEGER" property="departId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userID, roleId, sortId, depart_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orup_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orup_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.halous.parentsbase.repository.domain.OrupUserRole">
    insert into orup_user_role (id, userID, roleId, 
      sortId, depart_id)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, 
      #{sortid,jdbcType=INTEGER}, #{departId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.halous.parentsbase.repository.domain.OrupUserRole">
    insert into orup_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="roleid != null">
        roleId,
      </if>
      <if test="sortid != null">
        sortId,
      </if>
      <if test="departId != null">
        depart_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="sortid != null">
        #{sortid,jdbcType=INTEGER},
      </if>
      <if test="departId != null">
        #{departId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.halous.parentsbase.repository.domain.OrupUserRole">
    update orup_user_role
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="sortid != null">
        sortId = #{sortid,jdbcType=INTEGER},
      </if>
      <if test="departId != null">
        depart_id = #{departId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.halous.parentsbase.repository.domain.OrupUserRole">
    update orup_user_role
    set userID = #{userid,jdbcType=INTEGER},
      roleId = #{roleid,jdbcType=INTEGER},
      sortId = #{sortid,jdbcType=INTEGER},
      depart_id = #{departId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>